<div class = "container mail">
  <div class = "row">
    <div class = "col-md-4 about">
      <h2>NAME</h2>
    </div>
    <div class = "col-md-8 text">
      <h2>ABOUT</h2>
    </div>
  </div>
</div>
<% @email.each do |email| %>
<div class = "container mail">
  <div class = "row">
    <div class = "col-md-4 about">
      <b><%= email.about %></b>
    </div>
    <div class = "col-md-7 text">
      <p><%= email.text %></p>
    </div>
    <div class = "col-md-1 text">
      <a class = "btn btn-primary">DELETE</a>
    </div>
  </div>
</div>
<% end %>
